<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenement.dao.mapper.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.tenement.domain.po.Comments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="newhouseid" property="newhouseid" jdbcType="INTEGER" />
    <result column="usedhouseid" property="usedhouseid" jdbcType="INTEGER" />
    <result column="rentinghouseid" property="rentinghouseid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="answeruid" property="answeruid" jdbcType="INTEGER" />
    <result column="answertime" property="answertime" jdbcType="TIMESTAMP" />
    <result column="answercontent" property="answercontent" jdbcType="VARCHAR" />
    <result column="down" property="down" jdbcType="INTEGER" />
    <result column="usernmae" property="usernmae" jdbcType="VARCHAR" />
    <result column="answernmae" property="answernmae" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, newhouseid, usedhouseid, rentinghouseid, content, createtime, top, answeruid, 
    answertime, answercontent, down,usernmae,answernmae
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByList" resultMap="BaseResultMap" parameterType="com.tenement.domain.dto.CommentsExmple">
    select
    <include refid="Base_Column_List" />
    from comments
    <where>
     <trim prefixOverrides="and">
       <if test="newhouseid !=null">
         and newhouseid=#{newhouseid}
       </if>
       <if test="usedhouseid !=null">
         and usedhouseid=#{usedhouseid}
       </if>
       <if test="rentinghouseid !=null">
         and rentinghouseid=#{rentinghouseid}
       </if>
     </trim>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenement.domain.po.Comments" >
    insert into comments (id, uid, newhouseid, 
      usedhouseid, rentinghouseid, content, 
      createtime, top, answeruid, 
      answertime, answercontent, down
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{newhouseid,jdbcType=INTEGER}, 
      #{usedhouseid,jdbcType=INTEGER}, #{rentinghouseid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{top,jdbcType=INTEGER}, #{answeruid,jdbcType=INTEGER}, 
      #{answertime,jdbcType=TIMESTAMP}, #{answercontent,jdbcType=VARCHAR}, #{down,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tenement.domain.po.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="newhouseid != null" >
        newhouseid,
      </if>
      <if test="usedhouseid != null" >
        usedhouseid,
      </if>
      <if test="rentinghouseid != null" >
        rentinghouseid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="answeruid != null" >
        answeruid,
      </if>
      <if test="answertime != null" >
        answertime,
      </if>
      <if test="answercontent != null" >
        answercontent,
      </if>
      <if test="down != null" >
        down,
      </if>
      <if test="usernmae != null" >
        usernmae,
      </if>
      <if test="answernmae != null" >
        answernmae,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="newhouseid != null" >
        #{newhouseid,jdbcType=INTEGER},
      </if>
      <if test="usedhouseid != null" >
        #{usedhouseid,jdbcType=INTEGER},
      </if>
      <if test="rentinghouseid != null" >
        #{rentinghouseid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="top != null" >
        #{top,jdbcType=INTEGER},
      </if>
      <if test="answeruid != null" >
        #{answeruid,jdbcType=INTEGER},
      </if>
      <if test="answertime != null" >
        #{answertime,jdbcType=TIMESTAMP},
      </if>
      <if test="answercontent != null" >
        #{answercontent,jdbcType=VARCHAR},
      </if>
      <if test="down != null" >
        #{down,jdbcType=INTEGER},
      </if>
      <if test="usernmae != null" >
        #{usernmae,jdbcType=VARCHAR},
      </if>
      <if test="answernmae != null" >
        #{answernmae,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenement.domain.po.Comments" >
    update comments
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="newhouseid != null" >
        newhouseid = #{newhouseid,jdbcType=INTEGER},
      </if>
      <if test="usedhouseid != null" >
        usedhouseid = #{usedhouseid,jdbcType=INTEGER},
      </if>
      <if test="rentinghouseid != null" >
        rentinghouseid = #{rentinghouseid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="answeruid != null" >
        answeruid = #{answeruid,jdbcType=INTEGER},
      </if>
      <if test="answertime != null" >
        answertime = #{answertime,jdbcType=TIMESTAMP},
      </if>
      <if test="answercontent != null" >
        answercontent = #{answercontent,jdbcType=VARCHAR},
      </if>
      <if test="down != null" >
        down = #{down,jdbcType=INTEGER},
      </if>
      <if test="usernmae != null" >
        usernmae= #{usernmae,jdbcType=VARCHAR},
      </if>
      <if test="answernmae != null" >
        answernmae=#{answernmae,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenement.domain.po.Comments" >
    update comments
    set uid = #{uid,jdbcType=INTEGER},
      newhouseid = #{newhouseid,jdbcType=INTEGER},
      usedhouseid = #{usedhouseid,jdbcType=INTEGER},
      rentinghouseid = #{rentinghouseid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      top = #{top,jdbcType=INTEGER},
      answeruid = #{answeruid,jdbcType=INTEGER},
      answertime = #{answertime,jdbcType=TIMESTAMP},
      answercontent = #{answercontent,jdbcType=VARCHAR},
      down = #{down,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>