<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenement.dao.mapper.RoomFileMapper" >
  <resultMap id="BaseResultMap" type="com.tenement.domain.po.RoomFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_details_id" property="roomDetailsId" jdbcType="BIGINT" />
    <result column="file_type" property="fileType" jdbcType="TINYINT" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_details_id, file_type, file_url, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from room_file
    where room_details_id = #{roomId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenement.domain.po.RoomFile" >
    insert into room_file (id, room_details_id, file_type, 
      file_url, create_time)
    values (#{id,jdbcType=INTEGER}, #{roomDetailsId,jdbcType=BIGINT}, #{fileType,jdbcType=TINYINT},
      #{fileUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tenement.domain.po.RoomFile" >
    <selectKey keyProperty="id" resultType="Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into room_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomDetailsId != null" >
        room_details_id,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomDetailsId != null" >
        #{roomDetailsId,jdbcType=BIGINT},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenement.domain.po.RoomFile" >
    update room_file
    <set >
      <if test="roomDetailsId != null" >
        room_details_id = #{roomDetailsId,jdbcType=BIGINT},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenement.domain.po.RoomFile" >
    update room_file
    set room_details_id = #{roomDetailsId,jdbcType=BIGINT},
      file_type = #{fileType,jdbcType=TINYINT},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>